<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>TAP Project Dashboard</title>-->

<!--    &lt;!&ndash; MATERIAL ICONS CDN&ndash;&gt;-->
<!--    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">-->

<!--    &lt;!&ndash; GOOGLE FONTS (POPPINS)&ndash;&gt;-->
<!--    <link rel="preconnect" href="https://fonts.googleapis.com">-->
<!--    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>-->
<!--    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">-->

<!--    &lt;!&ndash; STYLESHEET &ndash;&gt;-->
<!--    <link rel="stylesheet" href="Dashboard/css/root.css">-->
<!--    <link rel="stylesheet" href="Dashboard/css/navBar.css">-->
<!--    <link rel="stylesheet" href="Dashboard/css/main.css">-->
<!--    <link rel="stylesheet" href="Dashboard/css/assets.css">-->
<!--    <link rel="stylesheet" href="Dashboard/css/aside.css">-->
<!--    <link rel="stylesheet" href="Dashboard/css/cardInfo.css">-->
<!--    <link rel="stylesheet" href="Dashboard/css/details.css">-->
<!--    <link rel="stylesheet" href="Dashboard/css/investments.css">-->
<!--    <link rel="stylesheet" href="Dashboard/css/transactions.css">-->
<!--    <link rel="stylesheet" href="Dashboard/css/screenView.css">-->
<!--    <link rel="stylesheet" href="Dashboard/css/apiCssPostRecord.css">-->

<!--    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>-->
<!--</head>-->
<!--<body>-->
<!--    <nav>-->
<!--        <div class="container">-->
<!--            <img src="Dashboard/img/logo.png" class="logo">-->
<!--            <div class="search-bar">-->
<!--                <span class="material-icons-sharp">search</span>-->
<!--                <input type="search" placeholder="Search">-->
<!--            </div>-->

<!--            &lt;!&ndash; NAV PROFILE AREA &ndash;&gt;-->
<!--            <div class="profile-area">-->
<!--                <div class="theme-btn">-->
<!--                    <span class="material-icons-sharp active">light_mode</span>-->
<!--                    <span class="material-icons-sharp">dark_mode</span>-->
<!--                </div>-->
<!--                <div class="profile">-->
<!--                    <div class="profile-photo">-->
<!--                        <img src="Dashboard/img/profile-4.jpg">-->
<!--                    </div>-->
<!--                    <h5>Jermaine Cole</h5>-->
<!--                    <span class="material-icons-sharp">expand_more</span>-->
<!--                </div>-->
<!--                <button id="menu-btn">-->
<!--                    <span class="material-icons-sharp">menu</span>-->
<!--                </button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </nav>-->
<!--    &lt;!&ndash; END OF THE NAV BAR &ndash;&gt;-->

<!--    <main>-->
<!--        <aside>-->
<!--            <button id="close-btn">-->
<!--                <span class="material-icons-sharp">close</span>-->
<!--            </button>-->
<!--            <div class="sidebar">-->
<!--                <a href="#" data-target="overview" class="sidebar-link-active">-->
<!--                    <span class="material-icons-sharp">dashboard</span>-->
<!--                    <h4>Dashboard</h4>-->
<!--                </a>-->
<!--                <a href="#" data-target="investments-section" class="sidebar-link">-->
<!--                    <span class="material-icons-sharp">currency_exchange</span>-->
<!--                    <h4>Exchange</h4>-->
<!--                </a>-->
<!--                <a href="#" data-target="wallet-section" class="sidebar-link">-->
<!--                    <span class="material-icons-sharp">account_balance_wallet</span>-->
<!--                    <h4>Wallet</h4>-->
<!--                </a>-->
<!--                <a href="#" data-target="fast-payment-section" class="sidebar-link">-->
<!--                    <span class="material-icons-sharp">account_balance_wallet</span>-->
<!--                    <h4>Fast Payments</h4>-->
<!--                </a>-->
<!--                <a href="#" data-target="transactions-section" class="sidebar-link">-->
<!--                    <span class="material-icons-sharp">payment</span>-->
<!--                    <h4>Transactions</h4>-->
<!--                </a>-->
<!--                <a href="#" data-target="graph-section" class="sidebar-link">-->
<!--                    <span class="material-icons-sharp">pie_chart</span>-->
<!--                    <h4>Analytics</h4>-->
<!--                </a>-->
<!--                <a href="#" data-target="assets-section" class="sidebar-link">-->
<!--                    <span class="material-icons-sharp">message</span>-->
<!--                    <h4>Assets</h4>-->
<!--                </a>-->
<!--                <a href="#" data-target="api-post-data-section" class="sidebar-link">-->
<!--                    <span class="material-icons-sharp">help_center</span>-->
<!--                    <h4>Api Data Retrieve</h4>-->
<!--                </a>-->
<!--                <a href="#" data-target="settings-section" class="sidebar-link">-->
<!--                    <span class="material-icons-sharp">settings</span>-->
<!--                    <h4>Settings</h4>-->
<!--                </a>-->
<!--            </div>-->
<!--            &lt;!&ndash; END OF SIDEBAR &ndash;&gt;-->

<!--            <div class="updates">-->
<!--                <span class="material-icons-sharp">update</span>-->
<!--                <h4>Updates Stocks values Available</h4>-->
<!--                <p>General Updates</p>-->
<!--                <a onclick="callPostRecord()" href="#">Update Yahoo Data</a>-->
<!--            </div>-->
<!--        </aside>-->
<!--        &lt;!&ndash; END OF ASIDE &ndash;&gt;-->

<!--        &lt;!&ndash; Dashboard Section (Overview) &ndash;&gt;-->
<!--        <section id="overview" class="content-section">-->
<!--            <section class="middle">-->
<!--                <section id="wallet-section" class="content-section">-->
<!--                    <div class="header">-->
<!--                        <h1>Overview</h1>-->
<!--                        <input type="date">-->
<!--                    </div>-->
<!--                    <div class="cards">-->
<!--                        <div class="card">-->
<!--                            <div class="top">-->
<!--                                <div class="left">-->
<!--                                    <img src="Dashboard/img/BTC.png" />-->
<!--                                    <h2>BTC</h2>-->
<!--                                </div>-->
<!--                                <img src="Dashboard/img/visa1.png" class="cardTypeEdit">-->
<!--                            </div>-->
<!--                            <div class="middle">-->
<!--                                <h1>$78,908</h1>-->
<!--                                <div class="chip">-->
<!--                                    <img src="Dashboard/img/maincardchip.png">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="bottom">-->
<!--                                <div class="left">-->
<!--                                    <small>Card Holder</small>-->
<!--                                    <h5>JOHN BTC</h5>-->
<!--                                </div>-->
<!--                                <div class="right">-->
<!--                                    <div class="expiry">-->
<!--                                        <small>Expiry</small>-->
<!--                                        <h5>08/23</h5>-->
<!--                                    </div>-->
<!--                                    <div class="cvv">-->
<!--                                        <small>CVV</small>-->
<!--                                        <h5>786</h5>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; END OF CARD 1 &ndash;&gt;-->

<!--                        <div class="card">-->
<!--                            <div class="top">-->
<!--                                <div class="left">-->
<!--                                    <img src="Dashboard/img/eth.png" />-->
<!--                                    <h2>ETH</h2>-->
<!--                                </div>-->
<!--                                <img src="Dashboard/img/mainmastercard.png" class="cardTypeEdit">-->
<!--                            </div>-->
<!--                            <div class="middle">-->
<!--                                <h1>$78,908</h1>-->
<!--                                <div class="chip">-->
<!--                                    <img src="Dashboard/img/maincardchip.png">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="bottom">-->
<!--                                <div class="left">-->
<!--                                    <small>Card Holder</small>-->
<!--                                    <h5>JOHN ETH</h5>-->
<!--                                </div>-->
<!--                                <div class="right">-->
<!--                                    <div class="expiry">-->
<!--                                        <small>Expiry</small>-->
<!--                                        <h5>08/23</h5>-->
<!--                                    </div>-->
<!--                                    <div class="cvv">-->
<!--                                        <small>CVV</small>-->
<!--                                        <h5>786</h5>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; END OF CARD 2 &ndash;&gt;-->

<!--                        <div class="card">-->
<!--                            <div class="top">-->
<!--                                <div class="left">-->
<!--                                    <img src="Dashboard/img/BTC.png" />-->
<!--                                    <h2>BTC</h2>-->
<!--                                </div>-->
<!--                                <img src="Dashboard/img/visa1.png" class="cardTypeEdit">-->
<!--                            </div>-->
<!--                            <div class="middle">-->
<!--                                <h1>$78,908</h1>-->
<!--                                <div class="chip">-->
<!--                                    <img src="Dashboard/img/maincardchip.png">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="bottom">-->
<!--                                <div class="left">-->
<!--                                    <small>Card Holder</small>-->
<!--                                    <h5>JOHN BTC</h5>-->
<!--                                </div>-->
<!--                                <div class="right">-->
<!--                                    <div class="expiry">-->
<!--                                        <small>Expiry</small>-->
<!--                                        <h5>08/23</h5>-->
<!--                                    </div>-->
<!--                                    <div class="cvv">-->
<!--                                        <small>CVV</small>-->
<!--                                        <h5>786</h5>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; END OF CARD 3 &ndash;&gt;-->
<!--                    </div>-->
<!--                    &lt;!&ndash; END OF CARDS &ndash;&gt;-->
<!--                </section>-->

<!--                <section id="fast-payment-section" class="content-section">-->
<!--                    <div class="fast-payment">-->
<!--                        <h2>Fast Payments</h2>-->
<!--                        <div class="badges">-->
<!--                            <div class="badge">-->
<!--                                <span class="material-icons-sharp">add</span>-->
<!--                            </div>-->
<!--                            <div class="badge">-->
<!--                                <span class="bg-primary"></span>-->
<!--                                <div>-->
<!--                                    <h5>Training</h5>-->
<!--                                    <h4>$50</h4>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="badge">-->
<!--                                <span class="bg-success"></span>-->
<!--                                <div>-->
<!--                                    <h5>Internet</h5>-->
<!--                                    <h4>$40</h4>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="badge">-->
<!--                                <span class="bg-danger"></span>-->
<!--                                <div>-->
<!--                                    <h5>Gas</h5>-->
<!--                                    <h4>$150</h4>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="badge">-->
<!--                                <span class="bg-primary"></span>-->
<!--                                <div>-->
<!--                                    <h5>Movies</h5>-->
<!--                                    <h4>$35</h4>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="badge">-->
<!--                                <span class="bg-primary"></span>-->
<!--                                <div>-->
<!--                                    <h5>Education</h5>-->
<!--                                    <h4>$990</h4>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="badge">-->
<!--                                <span class="bg-danger"></span>-->
<!--                                <div>-->
<!--                                    <h5>Electricity</h5>-->
<!--                                    <h4>$109</h4>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="badge">-->
<!--                                <span class="bg-danger"></span>-->
<!--                                <div>-->
<!--                                    <h5>Food</h5>-->
<!--                                    <h4>$245</h4>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; END OF FAST PAYMENTS &ndash;&gt;-->
<!--                </section>-->

<!--                <section id="assets-section" class="content-section">-->
<!--                    <div class="assetsSection">-->
<!--                        <h1 class="assetsHeader">Assets</h1>-->
<!--                        <div class="tableContainer">-->
<!--                            <table class="assetsTable">-->
<!--                                <thead>-->
<!--                                    <tr class="trAssets">-->
<!--                                        <th>Asset Name</th>-->
<!--                                        <th>Purchase Date</th>-->
<!--                                        <th>Purchase Price</th>-->
<!--                                        <th>Quantity</th>-->
<!--                                    </tr>-->
<!--                                </thead>-->
<!--                                <tbody>-->
<!--                                    {% if assets %}-->
<!--                                    {% for asset in assets %}-->
<!--                                    <tr>-->
<!--                                        <td>{{ asset.asset_name }}</td>-->
<!--                                        <td>{{ asset.purchase_date }}</td>-->
<!--                                        <td>{{ asset.purchase_price }}</td>-->
<!--                                        <td>{{ asset.quantity }}</td>-->
<!--                                    </tr>-->
<!--                                    {% endfor %}-->
<!--                                    {% else %}-->
<!--                                    <tr>-->
<!--                                        <td colspan="4">No assets found</td>-->
<!--                                    </tr>-->
<!--                                    {% endif %}-->
<!--                                </tbody>-->
<!--                            </table>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; END OF ASSETS SECTION &ndash;&gt;-->
<!--                </section>-->

<!--                <section id="api-post-data-section" class="content-section">-->
<!--                    <div class="apiPostData">-->
<!--                        <h1 class="assetsHeader">Yahoo Finance Data</h1>-->
<!--                        <div class="apiData">-->
<!--                            <div id="result"></div>-->
<!--                            <script src="Dashboard/js/postRecord.js"></script>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; END OF API Test button call &ndash;&gt;-->
<!--                    </div>-->
<!--                </section>-->

<!--                <section id="graph-section" class="content-section">-->
<!--                    <canvas id="chart"></canvas>-->
<!--                    <script src="Dashboard/js/main.js"></script>-->
<!--                    &lt;!&ndash; END OF THE GRAPH &ndash;&gt;-->
<!--                </section>-->
<!--            </section>-->

<!--            <section class="right">-->
<!--                <section id="investments-section" class="content-section">-->
<!--                    <div class="investments">-->
<!--                        <div class="header">-->
<!--                            <h2>Investments</h2>-->
<!--                            <a href="#">More <span class="material-icons-sharp">chevron_right</span></a>-->
<!--                        </div>-->

<!--                        <div class="investment">-->
<!--                            <img src="Dashboard/img/unilever.png">-->
<!--                            <h4>Unilever</h4>-->
<!--                            <div class="date-time">-->
<!--                                <p>7 Nov, 2021</p>-->
<!--                                <small class="text-muted">9:14pm</small>-->
<!--                            </div>-->
<!--                            <div class="date-time">-->
<!--                                <p>1402</p>-->
<!--                                <small class="text-muted">9:14pm</small>-->
<!--                            </div>-->
<!--                            <div class="amount">-->
<!--                                <h4>$20,033</h4>-->
<!--                                <small class="danger">-4.27%</small>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; END OF INVESTMENT &ndash;&gt;-->

<!--                        <div class="investment">-->
<!--                            <img src="Dashboard/img/tesla.jpg">-->
<!--                            <h4>Tesla</h4>-->
<!--                            <div class="date-time">-->
<!--                                <p>1 Dec, 2021</p>-->
<!--                                <small class="text-muted">11:54am</small>-->
<!--                            </div>-->
<!--                            <div class="date-time">-->
<!--                                <p>5377</p>-->
<!--                                <small class="text-muted">Bonds</small>-->
<!--                            </div>-->
<!--                            <div class="amount">-->
<!--                                <h4>$74,033</h4>-->
<!--                                <small class="success">+38.27%</small>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; END OF INVESTMENT &ndash;&gt;-->

<!--                        <div class="investment">-->
<!--                            <img src="Dashboard/img/monster.png">-->
<!--                            <h4>Monster</h4>-->
<!--                            <div class="date-time">-->
<!--                                <p>1 Dec, 2021</p>-->
<!--                                <small class="text-muted">9:14pm</small>-->
<!--                            </div>-->
<!--                            <div class="date-time">-->
<!--                                <p>700</p>-->
<!--                                <small class="text-muted">Bonds</small>-->
<!--                            </div>-->
<!--                            <div class="amount">-->
<!--                                <h4>$12,033</h4>-->
<!--                                <small class="success">1.87%</small>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; END OF INVESTMENT &ndash;&gt;-->

<!--                        <div class="investment">-->
<!--                            <img src="Dashboard/img/mcdonalds.png">-->
<!--                            <h4>McDONALDS</h4>-->
<!--                            <div class="date-time">-->
<!--                                <p>3 Jan, 2022</p>-->
<!--                                <small class="text-muted">5:36am</small>-->
<!--                            </div>-->
<!--                            <div class="date-time">-->
<!--                                <p>4578</p>-->
<!--                                <small class="text-muted">Bonds</small>-->
<!--                            </div>-->
<!--                            <div class="amount">-->
<!--                                <h4>$756,654</h4>-->
<!--                                <small class="danger">-8.24%</small>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; END OF INVESTMENT &ndash;&gt;-->

<!--                        <div class="investment">-->
<!--                            <img src="Dashboard/img/mcdonalds.png">-->
<!--                            <h4>McDONALDS</h4>-->
<!--                            <div class="date-time">-->
<!--                                <p>3 Jan, 2022</p>-->
<!--                                <small class="text-muted">5:36am</small>-->
<!--                            </div>-->
<!--                            <div class="date-time">-->
<!--                                <p>4578</p>-->
<!--                                <small class="text-muted">Bonds</small>-->
<!--                            </div>-->
<!--                            <div class="amount">-->
<!--                                <h4>$756,654</h4>-->
<!--                                <small class="danger">-8.24%</small>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; END OF INVESTMENT &ndash;&gt;-->

<!--                        <div class="investment">-->
<!--                            <img src="Dashboard/img/mcdonalds.png">-->
<!--                            <h4>McDONALDS</h4>-->
<!--                            <div class="date-time">-->
<!--                                <p>3 Jan, 2022</p>-->
<!--                                <small class="text-muted">5:36am</small>-->
<!--                            </div>-->
<!--                            <div class="date-time">-->
<!--                                <p>4578</p>-->
<!--                                <small class="text-muted">Bonds</small>-->
<!--                            </div>-->
<!--                            <div class="amount">-->
<!--                                <h4>$756,654</h4>-->
<!--                                <small class="danger">-8.24%</small>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; END OF INVESTMENT &ndash;&gt;-->
<!--                    </div>-->
<!--                    &lt;!&ndash; END OF INVESTMENTS &ndash;&gt;-->
<!--                </section>-->

<!--                <section id="transactions-section" class="content-section">-->
<!--                    <div class="recent-transactions">-->
<!--                        <div class="header">-->
<!--                            <h2>Recent Transactions</h2>-->
<!--                            <a href="#">More <span class="material-icons-sharp">chevron_right</span></a>-->
<!--                        </div>-->

<!--                        <div class="transaction">-->
<!--                            <div class="service">-->
<!--                                <div class="icon bg-purple-light">-->
<!--                                    <span class="material-icons-sharp purple">headset_mic</span>-->
<!--                                </div>-->
<!--                                <div class="details">-->
<!--                                    <h4>Music</h4>-->
<!--                                    <p>20.11.2021</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="card-details">-->
<!--                                <div class="card bg-danger">-->
<!--                                    <img src="Dashboard/img/visa1.png">-->
<!--                                </div>-->
<!--                                <div class="details">-->
<!--                                    <p> *2757</p>-->
<!--                                    <small class="text-muted">Credit Card</small>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <h4>-$20</h4>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; END OF TRANSACTION &ndash;&gt;-->

<!--                        <div class="transaction">-->
<!--                            <div class="service">-->
<!--                                <div class="icon bg-purple-light">-->
<!--                                    <span class="material-icons-sharp purple">shopping_bag</span>-->
<!--                                </div>-->
<!--                                <div class="details">-->
<!--                                    <h4>Shopping</h4>-->
<!--                                    <p>20.11.2021</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="card-details">-->
<!--                                <div class="card bg-primary">-->
<!--                                    <img src="Dashboard/img/visa1.png">-->
<!--                                </div>-->
<!--                                <div class="details">-->
<!--                                    <p> *2757</p>-->
<!--                                    <small class="text-muted">Credit Card</small>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <h4>-$20</h4>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; END OF TRANSACTION &ndash;&gt;-->

<!--                        <div class="transaction">-->
<!--                            <div class="service">-->
<!--                                <div class="icon bg-purple-light">-->
<!--                                    <span class="material-icons-sharp success">restaurant</span>-->
<!--                                </div>-->
<!--                                <div class="details">-->
<!--                                    <h4>Restaurant</h4>-->
<!--                                    <p>20.11.2021</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="card-details">-->
<!--                                <div class="card bg-dark">-->
<!--                                    <img src="Dashboard/img/mastercard.png">-->
<!--                                </div>-->
<!--                                <div class="details">-->
<!--                                    <p> *2757</p>-->
<!--                                    <small class="text-muted">Credit Card</small>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <h4>-$562</h4>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; END OF TRANSACTION &ndash;&gt;-->

<!--                        <div class="transaction">-->
<!--                            <div class="service">-->
<!--                                <div class="icon bg-purple-light">-->
<!--                                    <span class="material-icons-sharp danger">sports_esports</span>-->
<!--                                </div>-->
<!--                                <div class="details">-->
<!--                                    <h4>Games</h4>-->
<!--                                    <p>20.11.2021</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="card-details">-->
<!--                                <div class="card bg-dark">-->
<!--                                    <img src="Dashboard/img/mastercard.png">-->
<!--                                </div>-->
<!--                                <div class="details">-->
<!--                                    <p> *2757</p>-->
<!--                                    <small class="text-muted">Credit Card</small>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <h4>-$562</h4>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; END OF TRANSACTION &ndash;&gt;-->

<!--                        <div class="transaction">-->
<!--                            <div class="service">-->
<!--                                <div class="icon bg-purple-light">-->
<!--                                    <span class="material-icons-sharp danger">sports_esports</span>-->
<!--                                </div>-->
<!--                                <div class="details">-->
<!--                                    <h4>Games</h4>-->
<!--                                    <p>20.11.2021</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="card-details">-->
<!--                                <div class="card bg-dark">-->
<!--                                    <img src="Dashboard/img/mastercard.png">-->
<!--                                </div>-->
<!--                                <div class="details">-->
<!--                                    <p> *2757</p>-->
<!--                                    <small class="text-muted">Credit Card</small>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <h4>-$562</h4>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; END OF TRANSACTION &ndash;&gt;-->

<!--                        <div class="transaction">-->
<!--                            <div class="service">-->
<!--                                <div class="icon bg-purple-light">-->
<!--                                    <span class="material-icons-sharp danger">sports_esports</span>-->
<!--                                </div>-->
<!--                                <div class="details">-->
<!--                                    <h4>Games</h4>-->
<!--                                    <p>20.11.2021</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="card-details">-->
<!--                                <div class="card bg-dark">-->
<!--                                    <img src="Dashboard/img/mastercard.png">-->
<!--                                </div>-->
<!--                                <div class="details">-->
<!--                                    <p> *2757</p>-->
<!--                                    <small class="text-muted">Credit Card</small>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <h4>-$562</h4>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; END OF TRANSACTION &ndash;&gt;-->

<!--                        <div class="transaction">-->
<!--                            <div class="service">-->
<!--                                <div class="icon bg-purple-light">-->
<!--                                    <span class="material-icons-sharp danger">medication</span>-->
<!--                                </div>-->
<!--                                <div class="details">-->
<!--                                    <h4>Pharmacy</h4>-->
<!--                                    <p>15.11.2021</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="card-details">-->
<!--                                <div class="card bg-primary">-->
<!--                                    <img src="Dashboard/img/visa1.png">-->
<!--                                </div>-->
<!--                                <div class="details">-->
<!--                                    <p> *2757</p>-->
<!--                                    <small class="text-muted">Credit Card</small>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <h4>-$562</h4>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; END OF TRANSACTION &ndash;&gt;-->
<!--                    </div>-->
<!--                    &lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; END OF TRANSACTION -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--                </section>-->
<!--                &lt;!&ndash; END OF RIGHT &ndash;&gt;-->
<!--            </section>-->
<!--        </section>-->
<!--    </main>-->

<!--    <script>-->
<!--        // Navigation Bar Toggle Button-->
<!--        document.addEventListener("DOMContentLoaded", function () {-->
<!--            const links = document.querySelectorAll('.sidebar-link');-->
<!--            const sections = document.querySelectorAll('.content-section');-->

<!--            links.forEach(link => {-->
<!--                link.addEventListener('click', function (event) {-->
<!--                    event.preventDefault();-->
<!--                    const targetId = this.getAttribute('data-target');-->

<!--                    if (targetId === 'overview') {-->
<!--                        sections.forEach(section => {-->
<!--                            section.style.display = 'block';-->
<!--                        });-->
<!--                    } else {-->
<!--                        sections.forEach(section => {-->
<!--                            section.style.display = 'none';-->
<!--                        });-->
<!--                        document.getElementById(targetId).style.display = 'block';-->
<!--                    }-->

<!--                    links.forEach(link => {-->
<!--                        link.classList.remove('active');-->
<!--                    });-->

<!--                    this.classList.add('active');-->
<!--                });-->
<!--            });-->
<!--        });-->
<!--    </script>-->
<!--</body>-->
<!--</html>-->
