<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TAP project Dashboard </title>

    <!-- MATERIAL ICONS CDN-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">

    <!-- GOOGLE FONTS (POPPINS)-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- STYLESHEET -->
    <link rel="stylesheet" href="Dashboard/css/root.css">
    <link rel="stylesheet" href="Dashboard/css/navBar.css">

</head>

<body>
<!--    <button class="button" onclick="callPostRecord()"> TESTING THE POST BUTTON API </button>-->
<!--    <div id="result"></div>-->

<!--    <script src="Dashboard/js/postRecord.js"></script>-->
<main>
      <button class="button" onclick="callPostRecord()">TESTING THE POST BUTTON API</button>
      <div id="result"></div>
      <script src="Dashboard/js/postRecord.js"></script>

      <h1>Assets</h1>
      <table class="assetsTable">
        <thead>
          <tr class="trAssets">
<!--            <th>Asset ID</th>-->
            <th>Asset Name</th>
            <th>Purchase Date</th>
            <th>Purchase Price</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          {% if assets %}
            {% for asset in assets %}
              <tr>
<!--                <td>{{ asset.asset_id }}</td>-->
                <td>{{ asset.asset_name }}</td>
                <td>{{ asset.purchase_date }}</td>
                <td>{{ asset.purchase_price }}</td>
                <td>{{ asset.quantity }}</td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td colspan="5">No assets found</td>
            </tr>
          {% endif %}
        </tbody>
      </table>
</main>
</body>

</html>
