/* ======= API POST RECORD ======= */
.apiDataTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.apiHeaderRow {
    background-color: var(--primary-color);
    color: var(--color-white);
}

.apiHeaderCell {
    padding: 0.5rem;
    text-align: left;
    font-weight: bold;
}

.apiDataRow {
    border-top: 1px solid #ddd;
}

.apiDataRow:nth-child(even) {
    background-color: #f9f9f9;
}

.apiDataCell {
    padding: 0.5rem;
    text-align: left;
}
.apiPostData{
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 2rem;
    margin-bottom: 1rem;
    max-height: 400px;
    overflow-y: auto;
}
