/* ====================== RECENT TRANSACTIONS ====================== */
main .recent-transactions {
  margin-top: 2rem;
}

main .recent-transactions img {
  width: 2.2rem;
}

main .recent-transactions .header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

main .recent-transactions .header a {
  display: flex;
  align-items: center;
  color: var(--color-primary);
}

main .recent-transactions .transaction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem var(--card-padding);
  border-radius: var(--card-border-radius);
  transition: all 300ms ease;
}

main .recent-transactions .transaction:hover {
  background: var(--color-white);
  cursor: pointer;
}

main .recent-transactions .transaction .service {
  display: flex;
  align-items: center;
  gap: 1rem;
}

main .recent-transactions .transaction .service .icon {
  padding: var(--padding-2);
  border-radius: var(--border-radius-1);
  display: flex;
  align-items: center;
}

main .recent-transactions .card-details {
  display: flex;
  align-items: center;
  gap: 1rem;
}

main .recent-transactions .card-details .card {
  display: flex;
  width: 4.6rem;
  align-items: center;
  justify-content: center;
  height: 3rem;
  border-radius: var(--border-radius-2);
}

/* Scrollbar section for investments*/
main .recent-transactions {
  /*background: var(--color-white);*/
  border-radius: var(--card-border-square);
  max-height: 450px;
  overflow-y: auto;
  margin-top: 8rem;
}

main .transactionTableContainer {
    height: 600px;
    max-width: 800px;
    overflow-y: auto;
    margin-top: 1rem;
    background: var(--color-light);
}

main .transactionWrapper {
    display: flex;
    justify-content: center;
    margin: 0;
}
/*
border-collapse: collapse;
width: calc(100% - 0rem);
main .transactionTableContainer,
main .transactionWrapper {
    margin: 0;
    padding: 0;
}
main .transactionTableContainer table {
    width: 100%;
    border-collapse: collapse; /* Optional: Makes table borders collapse to avoid extra spacing */
}
*/
